@import url("https://fonts.googleapis.com/css?family=Sofia");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Tangerine:wght@700&display=swap');

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/043/371/939/large/dominika-kozarska-trainstation-dominikakozarska-baselightandshadow-2.jpg?1637084370");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



.vending-machine {
  background-color: #5b191d;
  max-width: 410px;
  width: 100%;
  padding: 20px 20px 50px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vending-machine>h3 {
  font-family: 'Tangerine', cursive !important;
  font-size: 50px;
  display: flex;
  justify-content: center;
  background-color: #ff7390;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 2px #f60178;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #feef94;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.product-container {
  display: flex;
  justify-content: center;
  background-color: #393f47;
  flex: 1 0 60%;
  padding-top: 10px;
  padding-bottom: 10px;

}

.vending-machine ul {
  display: flex;
  list-style: none;
}

.products {
  width: 80px;
  height: 80px;

}

.products-water {
  width: 60px;
  height: 80px;

}

.product-item {
  display: flex;
  justify-content: space-between;
}

.product-info {
  display: flex;
  background-color: rgb(0, 0, 0);
  justify-content: space-around;
  margin-bottom: 10px;
  padding: 5px 0;
}

.code {
  color: white;
}

.price {
  color: black;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.pin-container {
  margin-left: 10px;
  margin-top: 10px;
  max-height: 200px;
}

.pin-pad {
  padding: 20px;
  background-color: rgb(54, 52, 52);
  display: grid;
  grid-template-columns: repeat(3, 20px);
  grid-gap: 10px;
  border-radius: 20px;
}

.pin-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.pin-enter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #0a5c22;
  border: 1px solid #0a5c22;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
}

.pin-clear {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #880c0c;
  border: 1px solid #880c0c;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
}

.wallet {
  margin-top: 10px;
  background-color: #feef94;
  border-radius: 10px;
  border: solid 2px black;
}

.wallet p {

  font-size: 24px;
  text-align: center;
  color: rgb(37, 24, 24);
}

.label {
  grid-column: 1 / span 3;
  font-size: 14px;
  background-color: #eee;
}

.balance {
  margin-top: 20px;

}

.balance h3 {
  display: flex;
  justify-content: center;
  background-color: #ff7390;

  border: solid 2px #f60178;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #feef94;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;

}

#imageContainer {
  background-color: #ff7390;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#imageContainer img {
  width: 40px;
  height: 40px;

}
